/*Codes by mahdi tasha*/
/*Importing tailwindCSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom styles*/
.sand-bg {background-image: url('../public/img/texture/img-sand.webp');}
.header-profile-animation[data-showing="true"] {animation: header-profile-animation .4s forwards;}
.header-profile-animation[data-showing="false"] {@apply hidden;}
.bg-features {background-image: url('../public/img/section/thirdSection/bg/img-features.webp')}
.bg-tasks {background-image: url('../public/img/section/thirdSection/bg/img-tasks.webp')}
.bg-tools {background-image: url('../public/img/section/thirdSection/bg/img-tools.webp')}
.bg-line-underline-third-section {@apply lg:bg-[url('../public/img/section/thirdSection/img-line-underline.svg')] bg-none;background-position: bottom;}

/*Animations*/
@keyframes header-profile-animation {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.4);
    }

    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}
